<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>consumer_key</key>
        <string>kvTs843695B5VrngjP5WHpPWr</string>
        <key>consumer_secret</key>
        <string>HIdPnYfHuI8gP9KhiKSLsdcCanAk1U3NhBEOQFEM94hTd2yf3k</string>
    </dict>
</plist>
